body {
  background-color: black;
}

.loanDetailsDesign {
  margin-top: 10vh;

  height: 50vh;

  color: white;
}

.spinnerDesign {
  margin-top: 10vh;

  background-color: black;
}

.detailImage {
  border-radius: 15px;
}
