.purple {
  color: #9700cc;
  text-shadow: 0 0 15px #9700cc;
}

.pink {
  color: #f6019d;
  text-shadow: 0 0 15px #f6019d;
}

.bgImage {
  background-position: 0% 12%;
  background-image: url(../../images/fondoNavbar.jpg);
}
